<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="قارن بين افضل انواع السيارات واسعار السيارات واقراء المزيد عن السيارات">
    <meta name="theme-color" content="#C10000">
    <link rel="icon" href="img/main/logo 2022-08.png" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/contact.css">
    
    
    <title>Joprcar</title>
</head>
<body>

    <!-- Start NavBar -->
    <section>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">الرئيسية</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="products.html">المتجر</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cars.html">أعرض سيارتك</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog.html">أخبار السيارات</a>
                    </li>
                    

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            المزيد
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="about.html">من نحن</a></li>
                            <li><a class="dropdown-item" href="#">سياسة الخصوصية</a></li>
                            <li><a class="dropdown-item" href="contact.html">تواصل معنا</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Button trigger modal -->
            <div class="cart-search">
                <button  class="click_btn" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">ماذا تريد ان تبحث عنه</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="">
                                <div class="modal-body">
                                        <input type="search" placeholder="بحث ..">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit"><img src="img/main/search-interface-symbol.png" alt="icon"></button>
                                </div>
                            </form>  
                        </div>
                </div></div>
                <a href="#"><i class="fa-brands fa-opencart"><span>1</span></i></a>
            </div>
            <div class="logo">
                <a href="#"><img src="img/main/logo 2022-08.png" alt="logo"></a>
            </div>
        </div>
        </nav>
    </section>


    <!-- Start contact us -->
    <section class="contact-section">
        <div class="container">
            <div class="title-main">
                <h2>أتصل بنا</h2>
                <p>يمكنك التواصل معنا دائما من خلال وسائل التواصل التالية</p>
            </div>
            <div class="call-box">
                <div class="box">
                    <i class="fa-solid fa-envelope"></i>
                    <div class="text">
                        <h6>البريد الألكترونى</h6>
                        <a href="mailto:eslamdeveloper1@gmail.com" target="_blank">joprcar@gmail.com</a>
                    </div>
                </div>

                <div class="box">
                    <i class="fa-solid fa-phone"></i>
                    <div class="text">
                        <h6>الهاتف</h6>
                        <a href="tel:+01092008025" target="_blank">01092008025</a>
                    </div>
                </div>

                <div class="box">
                        <i class="fa-solid fa-location-dot"></i> 
                        <div class="text">
                        <h6>العنوان</h6>
                        <a href="#"> مصر - القاهرة</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Start message -->
    <form class="form-message" action="">
        <div class="container">
            <input type="text" placeholder="أدخل بريدك الألكترونى">
            <input type="text" placeholder="السؤال">
            <textarea name="" placeholder="الرسالة" cols="30" rows="10"></textarea>
            <button type="submit">أرسل</button>
        </div>
    </form>



    <footer>
        <!-- Start Footer -->
    <div class="footer">
        <div class="container">
            <div class="box">
                <div class="logo-text">
                    <img src="img/main/logo 2022-08.png" alt="logo text">
                </div>
                <ul class="social">
                    <li>
                        <a href="#" class="facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="youtube">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="box">
                <ul class="links">
                    <li><a href="{% url 'index' %}">الرئيسية</a></li>
                    <li><a href="{% url 'about' %}">المتجر</a></li>
                    <li><a href="{% url 'gallery' %}">أعرض سيارتك</a></li>
                    <li><a href="{% url 'exhibition' %}">أخبار السيارات</a></li>
                    <li><a href="{% url 'contactus' %}">من نحن</a></li>
                </ul>
            </div>
            <div class="box">
                <div class="line">
                    <i class="fas fa-map-marker-alt fa-fw"></i>
                    <div class="info">
                        <p>مصر - القاهرة</p>
                    </div>
                </div>

                <div class="line">
                    <i class="fa-solid fa-envelope"></i>
                    <div class="info">
                        <p>E-mail: exampel@gmail.com</p>
                    </div>
                </div>
                <div class="line">
                    <i class="fas fa-phone-volume fa-fw"></i>
                    <div class="info">
                        <span>+0000000000</span>
                    </div>
                </div>
            </div>
            <div class="box footer-gallery">
                <img src="img/static/collection1.jpg" alt="img footer" />
                <img src="img/static/collection2.jpg" alt="img footer" />
                <img src="img/static/collection3.jpg" alt="img footer" />
                <img src="img/static/collection4.jpg" alt="img footer" />
                <img src="img/static/collection5.jpg" alt="img footer" />
                <img src="img/static/collection6.jpg" alt="img footer" />
            </div>
        </div>
        <p class="copyright">
            <a target="_blank" href="https://www.facebook.com/EslamEs11">
                <img style="width:35px; height:35px; object-fit:cover" src="img/main/LOGO PNG 2.png">
            </a>
        </p>
    </div>
    </footer>


    <script src="js/jquery.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>